body {
    background: url("assets/falcon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

html, body, app-root {
    height: 100%;
    width: 100%;
}

app-root {
    display: block;
}

.card {
    opacity: 0.5;
}

tr:nth-child(even) {
    background-color: lightsteelblue;
}